<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>492529007527-n6o4clg5n1193micp6pe393jt9ca71ic.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.492529007527-n6o4clg5n1193micp6pe393jt9ca71ic</string>
	<key>API_KEY</key>
	<string>AIzaSyAhbV_mwAysqBMFx_5u5W6jI5PC_Nx6Ly0</string>
	<key>GCM_SENDER_ID</key>
	<string>492529007527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testNf</string>
	<key>PROJECT_ID</key>
	<string>test-nf-4188f</string>
	<key>STORAGE_BUCKET</key>
	<string>test-nf-4188f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492529007527:ios:efc7f805f7be835d039482</string>
</dict>
</plist>